body{
  background-color: #282c34;
  padding: 0px;
}

ul{
  padding: 0px;
  padding-bottom: 45px;
}

/* Estiliza o fundo escuro quando o modal está aberto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Caixa do modal */
.modal {
  background: #004953;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;  
  color: #F9F07E;
  margin-top: 32px;
}

.modal hr{
  color: #F9F07E;
}

/* Botão para abrir */
.open-btn {
  padding: 10px 20px;
  background: #F9F07E;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão para fechar */
.close-btn {
  padding: 10px 20px;
  background: rgb(243, 77, 77);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.div-edit{
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.div-edit input {
  border: 2px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
}

.div-edit input:focus {
  border-color: #F9F07E; /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.div-bts{
  margin-top: 12px;
  height: 35px;
  display: flex;
  justify-content: end;
}