li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.item_container{
  text-decoration: none;
  height: auto;
  background-color: #282c34;
  padding: 8px 16px;
  display: flex;
  flex-direction: row; 
  border-bottom: 1px solid #F9F07E;
}

.item_logo{
  width: 50px;
  height: 50px;
  margin-right: 8px;
  background-color: #F9F07E;
  padding: 8px;
  border-radius: 4px;
}

.item_conteudo{
  width: 100%;
  display: flex;
  align-items: start; 
  flex-direction: column;
  justify-content: space-between;
}

.item_label-descricao{
  font-size: 20px;
  color: #F9F07E;
}

.item_segunda-linha{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.item_div-vida{
  display: flex;
  flex-direction: row;  
}

.item-img-vida{
  width: 20px;
  height: 20px;
  margin-right: 2px; 
}

.item_label-vida{
  font-size: 20px;
  color: #F9F07E;
}

.item_div-botoes{
  display: flex;
  justify-content: right;
  width: 75%; 
  margin-left: 8px;
}

.item_botao{
  margin-left: 8px;
  text-decoration: none;
  border: none;
  background: #F9F07E;
  border-radius: 4px;
  align-items: center;
  display: flex;
  height: 38px;
  width: 38px;
  padding: 4px;
}

.item_botao:active {
  transform: scale(0.9);
}

.item_botao:hover{
  background-color: #ccc344;
}

.item_botao-delete{
  margin-right: 32px;
  text-decoration: none;
  border: none;
  background: #F9F07E;
  border-radius: 4px;
  align-items: center;
  display: flex;
  height: 38px;
  width: 38px;
  padding: 4px;
}

.item_botao-delete:active {
  transform: scale(0.9);
}

.item_botao-delete:hover{
  background-color: #ccc344;
}

.item-img{
  width: 28px;
  height: 28px;
  margin-right: 2px; 
}
